body {
  background-color: hsl(160, 16%, 96%);
  color: hsl(0, 0%, 20%);
  display: grid;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 100%;
  gap: 1rem;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr;
  justify-content: center;
  justify-items: center;
  line-height: 1.6;
  margin: 0;
  padding: 1rem;
}

.status-container {
  background-color: hsl(0, 0%, 100%);
  border-radius: 8px;
  box-shadow: 0 4px 12px hsl(0, 0%, 0%, 0.08);
  box-sizing: border-box;
  max-width: 800px;
  padding: 2rem;
  width: 100%;
}

header {
  align-items: baseline;
  border-bottom: 2px solid hsl(0, 0%, 88%);
  display: grid;
  gap: 1rem;
  grid-template-columns: 2.5rem 1fr;
  margin-bottom: 1rem;
  margin-top: 0;
}

h1 {
  color: hsl(0, 0%, 0%);
  font-size: 1.8rem;
  margin: 0 0 1rem 0;
}

h2 {
  font-size: 1.4rem;
  margin-bottom: 0;
}

h3 {
  color: hsl(0, 0%, 33%);
  font-size: 1.2rem;
  margin-top: 1rem;
}

.release-date {
  color: hsl(0, 0%, 47%);
  font-style: italic;
  margin-bottom: 1rem;
  margin-top: 0;
}

.changelog ul {
  list-style-type: disc;
  padding-left: 1rem;
}

.changelog li {
  margin-bottom: 0.5rem;
}

.buttons-container {
  display: grid;
  gap: 1rem;
  grid-auto-rows: 1fr;
}

button {
  background: hsl(0, 0%, 90%);
  border: none;
  border-radius: 0.5rem;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  grid-auto-flow: column;
  padding: 0.75rem;
  place-items: center;
  transition: 200ms ease-out;
  transition-property: background-color, opacity;
}

.text-button {
  border: none;
  color: hsl(0, 0%, 0%);
  transition: 200ms ease-out;
  transition-property: background-color, opacity;
}

.green-button {
  background: hsl(120, 100%, 25%);
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}

.black-button {
  background: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}

:disabled {
  opacity: 0.7;
  pointer-events: none;
  transition: 200ms ease-out;
  transition-property: background-color, opacity;
}

label:has(input[type="checkbox"]) {
  align-items: center;
  background: hsl(200, 0%, 90%);
  border-radius: 0.25rem;
  cursor: pointer;
  display: inline-grid;
  gap: 0.5rem;
  grid-auto-flow: column;
  padding: 0.25rem 0.5rem;
  transition: 200ms ease-out;
}

label:has(input[type="checkbox"]:checked) {
  background: hsl(200, 100%, 25%);
  color: hsl(0, 0%, 100%);
}

input[type="checkbox"] {
  align-content: center;
  appearance: none;
  background: hsl(0, 0%, 100%);
  cursor: pointer;
  border-radius: 0.25rem;
  display: inline-grid;
  height: 1rem;
  justify-items: center;
  margin: 0;
  padding: 0;
  width: 1rem;
}

input[type="checkbox"]:checked {
  background: hsl(200, 100%, 90%);
}

input[type="checkbox"]::after {
  border-bottom: 2px solid hsl(200, 100%, 10%);
  border-left: 2px solid hsl(200, 100%, 10%);
  box-sizing: border-box;
  content: "";
  display: block;
  height: 0.3rem;
  margin-bottom: 0.125rem;
  opacity: 0;
  transform: translateX(-0.25rem) rotate(-45deg);
  transition: 200ms ease-out;
  width: 0.6rem;
}

input[type="checkbox"]:checked::after {
  content: "";
  opacity: 1;
  transform: translateX(0) rotate(-45deg);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: hsl(160, 16%, calc(100% - 96%));
    color: hsl(0, 0%, calc(100% - 20%));
  }

  .status-container {
    background-color: hsl(0, 0%, calc(100% - 100%));
    box-shadow: 0 4px 12px hsl(0, 0%, calc(100% - 0%), 0.08);
  }

  header {
    border-bottom: 2px solid hsl(0, 0%, calc(100% - 88%));
  }

  h1 {
    color: hsl(0, 0%, calc(100% - 0%));
  }

  h3 {
    color: hsl(0, 0%, calc(100% - 33%));
  }

  .release-date {
    color: hsl(0, 0%, calc(100% - 47%));
  }

  button {
    background: hsl(0, 0%, calc(100% - 90%));
  }

  .text-button {
    color: hsl(0, 0%, calc(100% - 0%));
  }

  .green-button {
    background: hsl(120, 100%, calc(100% - 25%));
    color: hsl(0, 0%, calc(100% - 100%));
  }

  .black-button {
    background: hsl(0, 0%, calc(100% - 0%));
    color: hsl(0, 0%, calc(100% - 100%));
  }

  label:has(input[type="checkbox"]) {
    background: hsl(200, 0%, calc(100% - 90%));
  }

  label:has(input[type="checkbox"]:checked) {
    background: hsl(200, 100%, calc(100% - 25%));
    color: hsl(0, 0%, calc(100% - 100%));
  }

  input[type="checkbox"] {
    background: hsl(0, 0%, calc(100% - 100%));
  }

  input[type="checkbox"]:checked {
    background: hsl(200, 100%, calc(100% - 90%));
  }

  input[type="checkbox"]::after {
    border-bottom: 2px solid hsl(200, 100%, calc(100% - 10%));
    border-left: 2px solid hsl(200, 100%, calc(100% - 10%));
  }
}
