@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(/fonts/open-sans-wght-400.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(/fonts/open-sans-wght-700.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

* {
  user-select: none;
}

html {
  --document-width: 21rem;
  --scrollbar-width: 10px;
  width: var(--document-width);
}

html[data-applicable-tab="true"] {
  height: 37.5rem;
}

html[data-applicable-tab="false"] {
  height: auto;
}

body {
  --body-margin: 0.5rem;
  background: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 0%);
  font-family: "Open Sans", sans-serif;
  font-size: 100%;
  font-synthesis: none;
  height: calc(100% - 1rem);
  line-height: 1.4;
  margin: var(--body-margin);
  width: calc(var(--document-width) - var(--body-margin) * 2);
}

main {
  --main-padding: 1rem;
  align-items: center;
  background: hsl(39, 77%, 83%);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: calc(100% - 2rem);
  padding: var(--main-padding);
}

.hide-n-seek-title {
  color: hsl(0, 0%, 0%);
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0;
  text-align: center;
}

.branding-container {
  height: 155.188px;
  margin: 1rem;
  transition: height 400ms ease;
}

main.expanded-list .branding-container {
  height: 16px;
  transition: height 400ms ease 200ms;
}

.branding-container > img {
  left: 0;
  position: absolute;
  scale: 1;
  top: 0;
  transform: translate3d(
    calc((var(--document-width) * 0.5) - 50%),
    calc(var(--body-margin) + var(--main-padding)),
    0
  );
  transform-origin: top left;
  transition: 400ms ease 200ms;
  transition-property: scale, transform;
  width: 9rem;
}

main.expanded-list .branding-container > img {
  --scale: calc(1 / 3);
  --inverse-scale: calc(1 / var(--scale));
  scale: var(--scale);
  transform: translate3d(
    calc(
      (var(--document-width) * 0.5) * var(--inverse-scale) - 100% -
        var(--body-margin) * var(--inverse-scale) - 35.550749999999994px *
        var(--inverse-scale)
    ),
    calc(
      var(--body-margin) * var(--inverse-scale) + var(--main-padding) *
        var(--inverse-scale)
    ),
    0
  );
  transition: 400ms ease;
}

.branding-container > h1 {
  left: 0;
  line-height: 1;
  position: absolute;
  top: 0;
  transform: translate3d(
    calc((var(--document-width) * 0.5) - 50%),
    calc(4px + 16px + 144px + 100%),
    0
  );
  transition: transform 400ms ease;
}

main.expanded-list .branding-container > h1 {
  transform: translate3d(
    calc((var(--document-width) * 0.5) + 8px - 35.550749999999994px),
    calc(2px + 8px + 16px + 24px - 10px),
    0
  );
  transition: transform 400ms ease 200ms;
}

.options-container {
  align-items: center;
  background: hsl(30, 56.6%, 65.7%);
  border-radius: 1rem;
  display: none;
  flex: 1 0 auto;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  justify-items: center;
  padding: 1rem;
  width: calc(100% - 2rem);
}

html[data-applicable-tab="true"] .options-for-applicable-tabs,
html[data-applicable-tab="false"] .options-for-inapplicable-tabs {
  display: flex;
}

.job-board-search-options-container {
  align-items: center;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.job-board-search-option-container {
  border-radius: 0.5rem;
  height: 1.5rem;
  display: grid;
  padding: 0.5rem;
  place-items: center;
  transition: background-color 200ms ease-out;
  width: calc(100% - 1rem);
}

.job-board-search-option-container[data-job-board-id="linkedIn"][data-checked="true"] {
  background: hsl(210, 90%, 40%);
}

.job-board-search-option-container[data-job-board-id="indeed"][data-checked="true"] {
  background: hsl(218, 100%, 30%);
}

.job-board-search-option-container[data-checked="false"] {
  background: hsl(0, 0%, 100%, 0);
  cursor: pointer;
}

.job-board-search-option-container[data-checked="false"]:hover {
  background: hsl(0, 0%, 100%, 0.2);
}

.job-board-search-option-container[data-checked="false"]:active {
  background: hsl(0, 0%, 100%, 0.3);
}

.job-board-search-option-container * {
  transition: fill 200ms ease-out;
}

.job-board-search-option-container[data-checked="true"] * {
  fill: hsl(0, 0%, 100%);
}

.job-board-search-option-container[data-checked="false"] * {
  fill: hsl(0, 0%, 50%);
}

.job-board-search-option-container:has(:disabled) {
  pointer-events: none;
}

.job-board-search-option-container > input {
  position: absolute;
}

.options-for-inapplicable-tabs .job-board-name {
  width: 75%;
}

.options-for-applicable-tabs .job-board-name {
  max-height: 32.4219px;
  width: 50%;
}

.job-name-search-container {
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 30px;
  overflow: hidden;
  width: 100%;
}

.job-name-search-container > input {
  grid-column: 1 / 3;
  grid-row: 1 / 1;
  width: 100%;
}

.job-name-search-container > button {
  background: hsl(0, 0%, 0%, 0);
  grid-column: 2 / 3;
  grid-row: 1 / 1;
  height: auto;
  transition: 200ms ease-out;
  transition-property: background-color, opacity;
  width: 30px;
}

.job-name-search-container > button:hover {
  background: hsl(0, 0%, 0%, 0.1);
}

.job-name-search-container > button:active {
  background: hsl(0, 0%, 0%, 0.2);
}

.hidden-jobs-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 1rem;
  width: 100%;
}

.hidden-jobs-list-container {
  align-content: center;
  background: hsl(0, 0%, 100%, 0.1);
  border-radius: 1rem;
  display: grid;
  flex: 1 0 121px;
  overflow: hidden;
  position: relative;
  transition: background-color 200ms ease-out;
}

.hidden-jobs-list-container:hover {
  background: hsl(0, 0%, 100%, 0.15);
}

.nothing-hidden-message {
  --height: 1rem;
  --padding: 0.5rem;
  --width: 111px;
  align-items: center;
  background: hsl(0, 0%, 100%, 0.3);
  border-radius: 0.5rem;
  display: grid;
  font-size: calc(40px / 3);
  height: var(--height);
  left: calc(50% - var(--width) * 0.5 - var(--padding));
  line-height: 1;
  padding: var(--padding);
  pointer-events: none;
  position: absolute;
  text-align: center;
  top: calc(50% - var(--height) * 0.5 - var(--padding));
  width: var(--width);
}

.nothing-hidden-message[data-list-is-empty="true"] {
  opacity: 1;
  transition: opacity 200ms ease;
}

.nothing-hidden-message[data-list-is-empty="false"] {
  opacity: 0;
}

.collapse-expand-button {
  --height: 16.8125px;
  --padding: 0.25rem;
  --width: 0.5rem;
  background: hsl(0, 0%, 0%, 0.2);
  border-radius: 1rem;
  box-sizing: content-box;
  display: grid;
  height: var(--height);
  left: calc(
    (var(--scrollbar-width) + 1.5rem) * 0.5 -
      (var(--width) + var(--padding) * 2) * 0.5
  );
  padding: var(--padding);
  position: absolute;
  top: calc(50% - ((var(--height) + var(--padding)) * 0.5));
  transition: 200ms ease-out;
  transition-property: background-color, opacity;
  width: var(--width);
  z-index: 1;
}

.bottom-half,
.top-half {
  transition: transform 200ms ease 600ms;
}

main.expanded-list .bottom-half,
main.expanded-list .top-half {
  transition: transform 400ms ease 600ms;
}

main.expanded-list .collapse-expand-button .bottom-half {
  transform: matrix(1, 0, 0, -1, 0, 34.062374);
}

main.expanded-list .collapse-expand-button .top-half {
  transform: matrix(1, 0, 0, -1, 0, 14.1385);
}

.collapse-expand-button:hover {
  background: hsl(0, 0%, 0%, 0.25);
}

.collapse-expand-button:active {
  background: hsl(0, 0%, 0%, 0.3);
}

.collapse-expand-button .bottom-half,
.collapse-expand-button .top-half {
  fill: hsl(0, 0%, 0%, 0.5);
}

.collapse-expand-button:hover .bottom-half,
.collapse-expand-button:hover .top-half {
  fill: hsl(0, 0%, 0%, 0.9);
}

.collapse-expand-button:active .bottom-half,
.collapse-expand-button:active .top-half {
  fill: hsl(0, 0%, 0%, 1);
}

.hidden-jobs-list {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row;
  justify-items: center;
  min-height: 121px;
  overflow-y: auto;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  scrollbar-color: hsl(0, 0%, 0%, 0.5) hsl(0, 0%, 0%, 0.2);
  scrollbar-gutter: stable both-edges;
  scrollbar-width: thin;
}

.hidden-job-container {
  align-items: start;
  background: hsl(0, 0%, 100%, 0.3);
  border-radius: 1rem;
  box-sizing: border-box;
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr auto;
  height: 35px;
  justify-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
  overflow: hidden;
  padding: 0.5rem;
  transition: 200ms ease-out;
  transition-property: background-color, opacity;
  width: calc(100% - (1rem + 2rem));
}

.hidden-job-container:hover {
  background: hsl(0, 0%, 100%, 0.5);
}

.hidden-job-container:active {
  background: hsl(0, 0%, 100%, 0.6);
}

.hidden-job-container[data-job-attribute="promotionalStatus"] {
  background: hsl(60, 100%, 50%, 0.3);
}

.hidden-job-container[data-job-attribute="promotionalStatus"]:hover {
  background: hsl(60, 100%, 50%, 0.5);
}

.hidden-job-container[data-job-attribute="promotionalStatus"]:active {
  background: hsl(60, 100%, 50%, 0.6);
}

.hidden-job-container:first-child {
  align-self: end;
}

.hidden-job-container:last-child {
  align-self: start;
}

.hidden-job-container:only-child {
  align-self: center;
}

.hidden-job-container.remove {
  height: 0;
  margin-bottom: 0;
  margin-top: 0;
  opacity: 0;
  overflow: hidden;
  padding-bottom: 0;
  padding-top: 0;
}

.hidden-job-name {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  max-width: 15ch;
  overflow: clip visible;
  position: relative;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.hidden-job-container svg {
  aspect-ratio: 1 / 1;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  height: 100%;
  max-width: 100%;
  transition: 200ms ease-out;
  transition-property: fill;
}

.hidden-job-container:hover svg {
  fill: hsl(0, 100%, 40%);
}

.hidden-job-container:active svg {
  fill: hsl(0, 100%, 45%);
}

.unhide-all-and-undo-buttons {
  display: grid;
  gap: 1rem;
  grid-auto-flow: row;
  grid-template-columns: 2fr 1fr;
}

button {
  border: none;
  cursor: pointer;
  display: grid;
  font-family: inherit;
  font-size: calc(40px / 3);
  font-weight: inherit;
  place-items: center;
  transition: 200ms ease-out;
  transition-property: background-color, opacity;
  width: 100%;
}

:disabled {
  opacity: 0.1;
  pointer-events: none;
  transition: 200ms ease-out;
  transition-property: background-color, opacity;
}

.collapse-expand-button:disabled {
  opacity: 0;
}

.text-button {
  border: none;
  border-radius: 0.5rem;
  color: hsl(0, 0%, 100%);
  height: 50px;
  padding: 1rem;
  transition: 200ms ease-out;
  transition-property: background-color, opacity;
}

.option-button {
  background: hsl(0, 100%, 30%);
}

.option-button:hover {
  background: hsl(0, 100%, 40%);
}

.option-button:active {
  background: hsl(0, 100%, 45%);
}

.undo-button {
  background: hsl(0, 0%, 30%);
}

.undo-button:hover {
  background: hsl(0, 0%, 40%);
}

.undo-button:active {
  background: hsl(0, 0%, 45%);
}

.toggle-container {
  align-items: center;
  border-radius: 0.5rem;
  cursor: pointer;
  display: grid;
  font-size: calc(40px / 3);
  gap: 1rem;
  grid-auto-flow: column;
  height: 50px;
  justify-content: center;
  transition: 200ms ease-out;
  transition-property: background-color, color;
  width: 100%;
}

.toggle-container[data-checked="false"] {
  background: hsl(0, 0%, 100%, 0.3);
  color: hsl(0, 0%, 0%);
}

.toggle-container[data-checked="false"]:hover {
  background: hsl(0, 0%, 100%, 0.5);
}

.toggle-container[data-checked="false"]:active {
  background: hsl(0, 0%, 100%, 0.6);
}

.toggle-container[data-checked="true"] {
  background: hsl(0, 100%, 30%);
  color: hsl(0, 0%, 100%);
}

.toggle-container[data-checked="true"]:hover {
  background: hsl(0, 100%, 40%);
}

.toggle-container[data-checked="true"]:active {
  background: hsl(0, 100%, 45%);
}

:focus-visible,
.focus-visible-within:has(:focus-visible) {
  outline: 4px solid hsl(0, 0%, 0%, 0.5);
}

.focus-visible-within * {
  outline: none;
}

input[type="checkbox"] {
  height: 12px;
  margin: 0;
  width: 12px;
}

input[type="radio"] {
  appearance: none;
  margin: 0;
}

input[type="text"] {
  background: hsl(0, 0%, 100%, 1);
  border: none;
  font-family: "Open Sans", sans-serif;
  height: 2rem;
  margin: 0;
  padding: 0;
  text-align: center;
  transition: 200ms ease-out;
  transition-property: background-color, opacity;
  width: 100%;
}

input[type="text"]:disabled {
  background: hsl(0, 0%, 100%, 0.3);
  opacity: 1;
}

::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

::-webkit-scrollbar-track {
  background: hsl(0, 0%, 0%, 0.2);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-track:hover {
  background: hsl(0, 0%, 0%, 0.25);
}

::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 0%, 0.5);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 0%, 1);
}

::-webkit-scrollbar-corner {
  background: transparent;
}

body::-webkit-scrollbar-track {
  background: hsl(0, 0%, 100%, 0.5);
}

body::-webkit-scrollbar-track:hover {
  background: hsl(0, 0%, 100%, 0.55);
}

body::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 100%, 0.5);
}

body::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 100%, 1);
}
