.job-block-element {
  all: initial;
  display: block !important;
  font-family: revert;
  height: 100%;
  left: 0;
  line-height: 1.4;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.job-block-blocked-job-overlay,
.job-block-unblocked-job-overlay {
  align-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.job-block-blocked-job-overlay {
  backdrop-filter: blur(10px);
  background: hsl(0, 0%, 50%, 0.75);
  justify-content: center;
}

.job-block-element[data-job-block-blocked-job="true"]
  .job-block-blocked-job-overlay {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 200ms ease-out;
  user-select: none;
  z-index: 2;
}

.job-block-element[data-job-block-blocked-job="false"]
  .job-block-blocked-job-overlay {
  opacity: 0;
  pointer-events: none;
  transition: opacity 200ms ease-out 200ms;
  z-index: 1;
}

.job-block-unblocked-job-overlay {
  backdrop-filter: blur(0);
  background: hsl(0, 0%, 50%, 0);
  justify-content: end;
}

.job-block-element[data-job-block-blocked-job="true"]
  .job-block-unblocked-job-overlay {
  opacity: 0;
  pointer-events: auto;
  transition: opacity 200ms ease-out;
  z-index: 1;
}

.job-block-element[data-job-block-blocked-job="false"]
  .job-block-unblocked-job-overlay {
  opacity: 1;
  pointer-events: none;
  transition: opacity 200ms ease-out 200ms;
  z-index: 2;
}

.job-block-block-button {
  background: hsl(0, 0%, 50%, 0.25);
  border-radius: 50%;
  cursor: pointer;
  display: grid;
  height: 18px;
  margin: 10px;
  padding: 15px;
  pointer-events: auto;
  transition: background-color 200ms ease-out;
  width: 18px;
}

.job-block-block-button:hover {
  background: hsl(0, 0%, 50%, 0.45);
}

.job-block-block-button:active {
  background: hsl(0, 0%, 50%, 0.55);
}

.job-block-block-button-icon {
  height: auto;
  max-width: 100%;
}

.job-block-attribute-toggle-button {
  --hidden-indicator-gap: 0.2em;
  --hidden-indicator-height: 18px;
  --hidden-indicator-padding: 0.1em;
  align-items: center;
  border: 1px hsl(0, 0%, 100%) solid;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 67px;
  justify-content: center;
  margin: 10px;
  min-width: 4em;
  padding: 0 20px;
  transition: background-color 200ms ease-out, color 100ms ease-out;
  width: max-content;
  user-select: none;
}

.job-block-attribute-toggle-button[data-job-attribute-value-blocked="false"] {
  background: hsl(0, 0%, 100%, 0);
  color: hsl(0, 0%, 100%);
}

.job-block-attribute-toggle-button[data-job-attribute-value-blocked="false"]:hover {
  background: hsl(0, 0%, 100%, 0.2);
}

.job-block-attribute-toggle-button[data-job-attribute-value-blocked="false"]:active {
  background: hsl(0, 0%, 100%, 0.3);
}

.job-block-attribute-toggle-button[data-job-attribute-value-blocked="true"] {
  background: hsl(0, 0%, 100%, 1);
  color: hsl(0, 0%, 0%);
}

.job-block-attribute-toggle-button[data-job-attribute-value-blocked="true"]:hover {
  background: hsl(0, 0%, 100%, 0.8);
}

.job-block-attribute-toggle-button[data-job-attribute-value-blocked="true"]:active {
  background: hsl(0, 0%, 100%, 0.7);
}

.job-block-attribute-toggle-button[data-job-attribute="promotionalStatus"] {
  border: 1px hsl(60, 50%, 80%, 1) solid;
}

.job-block-attribute-toggle-button[data-job-attribute-value-blocked="false"][data-job-attribute="promotionalStatus"] {
  background: hsl(60, 50%, 80%, 0);
  color: hsl(60, 50%, 80%, 1);
}

.job-block-attribute-toggle-button[data-job-attribute-value-blocked="false"][data-job-attribute="promotionalStatus"]:hover {
  background: hsl(60, 50%, 80%, 0.2);
}

.job-block-attribute-toggle-button[data-job-attribute-value-blocked="false"][data-job-attribute="promotionalStatus"]:active {
  background: hsl(60, 50%, 80%, 0.3);
}

.job-block-attribute-toggle-button[data-job-attribute-value-blocked="true"][data-job-attribute="promotionalStatus"] {
  background: hsl(60, 50%, 80%, 1);
  color: hsl(0, 0%, 0%);
}

.job-block-attribute-toggle-button[data-job-attribute-value-blocked="true"][data-job-attribute="promotionalStatus"]:hover {
  background: hsl(60, 50%, 80%, 0.8);
}

.job-block-attribute-toggle-button[data-job-attribute-value-blocked="true"][data-job-attribute="promotionalStatus"]:active {
  background: hsl(60, 50%, 80%, 0.7);
}

.job-block-attribute-toggle-button-text {
  max-width: 25ch;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-overflow: ellipsis;
  transition: transform 200ms ease-out;
  white-space: nowrap;
}

.job-block-attribute-toggle-button-hidden-indicator {
  --width: 4.25em;
  align-items: center;
  background: hsl(0, 0%, 50%);
  border-radius: 0.75em;
  color: hsl(0, 0%, 100%);
  display: grid;
  font-size: 0.75em;
  height: var(--hidden-indicator-height);
  overflow: hidden;
  padding: var(--hidden-indicator-padding);
  position: absolute;
  text-align: center;
  top: calc(
    50% + (var(--hidden-indicator-height) * 0.5) + var(--hidden-indicator-gap)
  );
  width: var(--width);
}

.job-block-attribute-toggle-button[data-job-attribute-value-blocked="true"]
  .job-block-attribute-toggle-button-hidden-indicator {
  opacity: 1;
  transition: opacity 200ms ease-out 100ms, transform 200ms ease-out;
}

.job-block-attribute-toggle-button[data-job-attribute-value-blocked="false"]
  .job-block-attribute-toggle-button-hidden-indicator {
  opacity: 0;
  transition: opacity 200ms ease-out, transform 200ms ease-out;
}

.job-block-attribute-toggle-button[data-job-attribute-value-blocked="true"]
  .job-block-attribute-toggle-button-text,
.job-block-attribute-toggle-button[data-job-attribute-value-blocked="true"]
  .job-block-attribute-toggle-button-hidden-indicator {
  transform: translateY(
    calc(
      (
          var(--hidden-indicator-height) + var(--hidden-indicator-padding) * 2 +
            var(--hidden-indicator-gap)
        ) * -0.5
    )
  );
}
