.job-block-element {
  all: initial;
  font-family: revert;
  height: 100%;
  left: 0;
  line-height: 1.4;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.job-block-blocked-job-overlay,
.job-block-unblocked-job-overlay {
  align-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.job-block-blocked-job-overlay {
  background: hsl(0, 0%, 50%, 0.75);
  backdrop-filter: blur(10px);
  justify-content: center;
}

.job-block-element[data-job-block-blocked-job="true"]
  .job-block-blocked-job-overlay {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 200ms;
  user-select: none;
  z-index: 2;
}

.job-block-element[data-job-block-blocked-job="false"]
  .job-block-blocked-job-overlay {
  opacity: 0;
  pointer-events: none;
  transition: opacity 200ms 200ms;
  z-index: 1;
}

.job-block-unblocked-job-overlay {
  background: hsl(0, 0%, 50%, 0);
  backdrop-filter: blur(0);
  justify-content: end;
}

.job-block-element[data-job-block-blocked-job="true"]
  .job-block-unblocked-job-overlay {
  opacity: 0;
  pointer-events: auto;
  transition: opacity 200ms;
  z-index: 1;
}

.job-block-element[data-job-block-blocked-job="false"]
  .job-block-unblocked-job-overlay {
  opacity: 1;
  pointer-events: none;
  transition: opacity 200ms 200ms;
  z-index: 2;
}

.job-block-block-button {
  background: hsl(0, 0%, 50%, 0.25);
  border-radius: 50%;
  cursor: pointer;
  display: grid;
  height: 18px;
  margin: 10px;
  padding: 15px;
  pointer-events: auto;
  width: 18px;
}

.job-block-block-button:hover {
  background: hsl(0, 0%, 50%, 0.3);
}

.job-block-block-button:active {
  background: hsl(0, 0%, 50%, 0.35);
}

.job-block-block-button-icon {
  height: auto;
  max-width: 100%;
}

.job-block-attribute-toggle-button {
  border: 1px hsl(0, 0%, 100%) solid;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px;
  min-width: 4em;
  padding: 20px;
  width: max-content;
  user-select: none;
}

.job-block-attribute-toggle-button[data-job-attribute-value-blocked="false"] {
  background: hsl(0, 0%, 100%, 0);
  color: hsl(0, 0%, 100%);
}

.job-block-attribute-toggle-button[data-job-attribute-value-blocked="false"]:hover {
  background: hsl(0, 0%, 100%, 0.05);
}

.job-block-attribute-toggle-button[data-job-attribute-value-blocked="false"]:active {
  background: hsl(0, 0%, 100%, 0.1);
}

.job-block-attribute-toggle-button[data-job-attribute-value-blocked="true"] {
  background: hsl(0, 0%, 100%, 1);
  color: hsl(0, 0%, 0%);
}

.job-block-attribute-toggle-button[data-job-attribute-value-blocked="true"]:hover {
  background: hsl(0, 0%, 100%, 0.95);
}

.job-block-attribute-toggle-button[data-job-attribute-value-blocked="true"]:active {
  background: hsl(0, 0%, 100%, 0.9);
}

.job-block-attribute-toggle-button-text {
  max-width: 25ch;
  overflow: visible;
  position: relative;
  text-align: center;
  text-overflow: ellipsis;
  transition: transform 200ms;
  white-space: nowrap;
}

.job-block-attribute-toggle-button[data-job-attribute-value-blocked="false"]
  .job-block-attribute-toggle-button-text {
  transform: translate3d(0, 0, 0);
}

.job-block-attribute-toggle-button[data-job-attribute-value-blocked="true"]
  .job-block-attribute-toggle-button-text {
  transform: translate3d(0, -10px, 0);
}

.job-block-attribute-toggle-button-text::after {
  --width: 4.25em;
  background: hsl(0, 0%, 50%);
  border-radius: 0.75em;
  color: hsl(0, 0%, 100%);
  content: "Hidden";
  display: block;
  font-size: 0.75em;
  left: calc(50% - (0.5 * var(--width)));
  padding: 0.1em;
  position: absolute;
  text-align: center;
  top: calc(100%);
  width: var(--width);
}

.job-block-attribute-toggle-button[data-job-attribute-value-blocked="false"]
  .job-block-attribute-toggle-button-text::after {
  opacity: 0;
  transition: opacity 200ms;
}

.job-block-attribute-toggle-button[data-job-attribute-value-blocked="true"]
  .job-block-attribute-toggle-button-text::after {
  opacity: 1;
  transition: opacity 200ms 100ms;
}
